
$fontColor: rgba(243, 243, 243, 0.938);
$testHeader: orange;
$gridStyle: 2px solid red;
$spaceGreen: #8bce8b;


@mixin terminalFontStyle(){
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  color: $spaceGreen; 
}

@mixin boxStyle($flexDirection){
    border: $gridStyle;
    display: flex;
    flex-direction: $flexDirection;
    height: 100%;
    justify-content: center;
    width: 50%;
  }
  
  @mixin flexType($flexDirection){
    display: flex;
    flex-direction: $flexDirection;
  }

  @mixin listStyles(){
    list-style-type: none;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @font-face {
    font-family: nunito;
    src: url("../../../Tools_Documentation_etc/Fonts/Nunito/Nunito-Regular.ttf");
    font-weight: normal;
  }