@font-face {
  font-family: nunito;
  src: url("../Assets/Fonts/Nunito/Nunito-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: nunito;
  src: url("../Assets/Fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: normal;
}

html, body {
  background: #2e2c2e;
  color: rgba(243, 243, 243, 0.938);
  font-size: 1.5em;
  height: 100%;
  margin: 0;
  top: 0;
  font-family: nunito, sans-serif;
}

html input[type=text]::-ms-clear, body input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

html input[type=text]::-ms-reveal, body input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

html input[type="search"]::-webkit-search-decoration,
html input[type="search"]::-webkit-search-cancel-button,
html input[type="search"]::-webkit-search-results-button,
html input[type="search"]::-webkit-search-results-decoration, body input[type="search"]::-webkit-search-decoration,
body input[type="search"]::-webkit-search-cancel-button,
body input[type="search"]::-webkit-search-results-button,
body input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.on {
  display: block !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-wheel {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #c425f7;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 550px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header {
  border: 2px solid blue;
  border-bottom: 1px solid blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2000;
  width: 100%;
}

main header section {
  background: linear-gradient(296deg, #6d6a6a, #8c8585);
  border-color: transparent;
  border-radius: 0px 0px 8px 8px;
  color: #8bce8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  font-family: sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8.5px;
  margin-right: 8px;
  overflow: hidden;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  width: auto;
  /* Transition
      ========================== */
}

main header section:hover, main header .fakeSectionHover {
  -webkit-box-shadow: 0.2px 0.9px 4.75px 0.6px darkgrey;
          box-shadow: 0.2px 0.9px 4.75px 0.6px darkgrey;
  border: .5px solid #796e6e7a;
  border-style: groove;
  border-top: transparent;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  height: 127px;
}

main header section:hover .togglesWrap, main header .fakeSectionHover .togglesWrap {
  margin-top: 0;
}

main header section .togglesWrap {
  margin-top: 8.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 11px;
  padding: 0px 6px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main header section .togglesWrap:hover {
  margin-top: 0;
}

main header section .togglesWrap #measurementToggleWrap {
  margin-top: 6px;
  margin-bottom: 2px;
}

main header section .togglesWrap #timeToggleWrap {
  margin-bottom: 4px;
  margin-top: 2px;
}

main header section .togglesWrap #locationWrap {
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  color: #8bce8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-transform: capitalize;
}

main header section .togglesWrap #locationWrap .locationNode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25;
  left: 31px;
  margin-top: -22.5px;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  text-align: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  width: auto;
  word-wrap: break-word;
}

main header section .togglesWrap #locationWrap .locationNode::first-letter {
  text-transform: uppercase;
}

main header section .togglesWrap #locationWrap .locationSelector {
  background: transparent;
  border: none;
  color: #8bce8b;
  display: none;
  margin-top: -25.4px;
  margin-top: -31.8px;
  margin-left: 6px;
  outline: none;
  opacity: 0;
  text-transform: capitalize;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  right: -12px;
  width: 71px;
  -webkit-appearance: none;
  z-index: 5000000;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  color: #8bce8b;
}

main header section .togglesWrap #locationWrap .locationSelector::first-letter {
  text-transform: uppercase;
}

main header section .togglesWrap #userLocation {
  margin-bottom: 6px;
}

main header section .switch {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  padding: 3px;
  background: inear-gradient(to bottom, #707070, #d1cbcb 25px);
  background-image: -webkit-linear-gradient(top, #211d1d, #c3baba 25px);
  border-radius: 18px;
  -webkit-box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main header section .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main header section .switch-label {
  background: rgba(0, 0, 0, 0.86);
  border-radius: inherit;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  height: inherit;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header section .switch-label:before, main header section .switch-label:after {
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main header section .switch-label:before {
  pointer-events: none;
  content: attr(data-off);
  right: 11px;
}

main header section .switch-label:after {
  pointer-events: none;
  content: attr(data-on);
  left: 11px;
  opacity: 0;
}

main header section .switch-input:checked ~ .switch-label {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

main header section .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

main header section .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

main header section .switch-handle {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FFFFFF), to(#f0f0f0));
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, darkgrey 85%, #f0f0f0);
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 28px;
  left: 4px;
  position: absolute;
  top: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 28px;
}

main header section .switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#FFFFFF));
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, grey, purple);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

main header section .switch-input:checked ~ .switch-handle {
  left: 74px;
  -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

main header section .switch-label .switch-handle {
  -webkit-transition: All 0.8s ease;
  transition: All 0.8s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

main .filter {
  background: #3E0000;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  height: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 500;
  width: 100%;
}

main img {
  max-width: 100%;
  position: absolute;
  top: 0;
}

main #topbox, main #btmbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 45%;
  width: 100%;
  z-index: 999;
}

main #topboxLeft {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  border-top: 1px solid red;
}

main #topboxLeft #weatherTempContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #topboxLeft #weatherIcon {
  opacity: 0.94;
  position: relative;
  width: 80px;
}

main #topboxLeft #tempvalue {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  margin-top: 5px;
}

main #topboxRight {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid red;
  font-size: 28px;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #topboxRight ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

main #topboxRight ul .tempAsset1 {
  list-style: none;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

main #topboxRight ul .tempAsset2 {
  list-style: none;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

main #btmbox {
  bottom: 0;
}

main #btmboxLeft {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #btmboxLeft ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

main #btmboxLeft ul #timeValue {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #btmboxLeft ul #dateValue {
  font-size: 25px;
}

main #btmboxRight {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #btmboxRight #currentLocation::first-letter {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */